{
  "mongoURI": "mongodb://localhost:57256/slack",
  "jwtSecret": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImp0aSI6IjVkNTIxODBmLWM1ZGUtNGFkZC1hMWFjLWY2MWQ0ZDI5Yzg0NCIsImlhdCI6MTU1ODAwOTY4OCwiZXhwIjoxNTU4MDEzMjg4fQ.O8Adb907AEA04g09etkU0rA00YVThrvxo3mIK0OIGhQ"
}
